<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="fooman_emailattachments_before_send_order">
        <observer name="sirent_contractattach" instance="SalesIgniter\RentalContract\Observer\OrderEmailObserver"/>
    </event>
    <event name="sales_quote_payment_import_data_before">
        <observer name="sirent_payment_start" instance="SalesIgniter\RentalContract\Observer\SaveBeforeObserver"/>
    </event>
</config>
