<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="salesigniter_rental">
            <group id="contracts" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Rental Contracts</label>
                <field id="contract_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rental Contract Title</label>
                </field>
                <field id="terms" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terms and conditions to include in rental contract</label>
                </field>
                <field id="header_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom header text to include in the contract</label>
                </field>
                <field id="footer_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom footer text to include in the contract</label>
                </field>
                <field id="showwithoutrentals" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Show rental contract signing and attach contract even if order contains no rental products?]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="include_items" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Include list of items in the contract]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="include_manualsignature" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include manual hard copy signature field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="myorders_enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show rental contract link and enable digital signatures in customer view order area</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>This will show in the my orders area a link "Rental Contract" that allows customers to download a rental contract and sign it digitally using their mouse or touchscreen</comment>
                </field>
                <field id="checkoutsignature" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Require rental contract signature for checkout]]></label>
                    <comment>This will show on checkout review a signature field and customer is required to sign to proceed and place the order</comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="attachorder" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Attach Contract PDF to order emails?]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
